{% extends 'base.html' %}

{% block title %}AMUL:-THE TASTE OF INDIA{% endblock title %}

{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>Amul is an Indian dairy cooperative, based at Anand in the state of Gujarat.  Founded in 1946, the brand is today managed by the Gujarat Co-operative Milk Marketing Federation Ltd (GCMMF) which is jointly owned by about 3,000,000 milk producers in the state.

Amul the co-operative was formed as a response to the exploitation of marginal milk producers by agents and traders of the existing dairy in the state. The co-operative has gone from strength to strength, on the back of the inspired leadership of Mr Tribhuvandas Patel, the Founder Chairman and Dr Verghese Kurien, who was entrusted with the task of running the dairy from 1950.

The Amul model has helped India to emerge as the largest milk producer in the world. More than 15,000,000 milk producers contribute their milk in 144,500 dairy cooperative societies across the country. The milk is processed in 184 district co-operative unions and marketed by 22 state marketing federations, ensuring a better life for millions.</p>

<p>Amul is an Indian dairy cooperative society, based at Anand in the Indian state of Gujarat.[3] Formed in 1946,[4] it is a cooperative brand managed by a cooperative body, the Gujarat Co-operative Milk Marketing Federation Ltd. (GCMMF), which today is jointly owned by 36 lakh (3.6 million) milk producers in Gujarat, and the apex body of 13 District Milk Unions, spread across 13,000 villages of Gujarat.[5] Amul spurred India's White Revolution, which made the country the world's largest producer of milk and milk products.[6]

Kaira District Milk Union Limited (later renamed to Amul - Anand Milk Union Limited) was founded in 1946[4] through the efforts of Tribhuvandas Patel. Amul's foundation was a significant contributor to the white revolution in India.[7]

Tribhuvandas Patel under the guidance of Sardar Vallabhbhai Patel became the founding chairman of the organization and led it until his retirement in the 70s. He hired Dr. Verghese Kurien in 1949. He convinced Dr. Kurien to stay and help with the mission.[8][9] Under the chairmanship of Tribhuvandas, Dr. Kurien was initially the general manager and helped guide the technical and marketing efforts of Amul. Dr. Kurien was the chairman of Amul briefly after Tribhuvandas Patel died in 1994.

Kurien, founder-chairman of the GCMMF for more than 30 years (1973–2006), is credited with the success of Amul's marketing.[10] Amul has ventured into markets overseas.[11]</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <!--<div class="container">-->
    <!-- Example row of columns -->
    <!--<div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>-->

  <!--</div>--> <!-- /container -->

</main>





{% endblock %}